.title {
  color: #003087;
  font-weight: bolder;
}

.course-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
